<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Google Multi-Cluster Ingress Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.semanticui.min.css" />
    <style>
        .ui.visible.left.sidebar~.fixed,
        .ui.visible.left.sidebar~.pusher {
            -webkit-transform: translate3d(252px, 0, 0);
            transform: translate3d(252px, 0, 0);
        }
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/server.css" />
</head>
