<div class="ui left vertical large demo sidebar menu" id="left-sidebar">
    <a class="item logo" href="#" id="logo-image" style="display:block;line-height: 1.2;text-align: center">
        <img class="ui small image middle aligned" src="/images/anthos-logo.png">
    </a>
    <a class="item" href="https://cloud.google.com/kubernetes-engine/docs/how-to/deploying-multi-cluster-gateways">
        <i class="book icon"></i>
        Google Cloud Documentation
    </a>
    <!-- Modal -->
    <div id="myModal-left" class="modal fade" role="dialog">
        <div class="modal-dialog">
        </div>
    </div>
</div>