<div class="ui top fixed secondary menu" id="top-header">
    <a class="item" id="vk-header-icon-a">
        <i class="big bars icon vk-header-icon"></i>
    </a>
    <span class="item" id="vk-header-title"><%= title %></span>
    <span class="item" id="vk-login-header-title-right" style="font-family: 'Arial';"><a style="color:ghostwhite;padding-right:10px"></a></span>
</div>